<!-- <div class="container my-auto mx-auto"> -->
<!-- <div class="card card-block mb-2">
		   <h4 class="card-title">Card 1</h4>
		   <p class="card-text">Welcom to bootstrap card styles</p>
		   <a href="#" class="btn btn-primary">Submit</a>
		 </div>    -->
<!-- <div class="row mt-4">
		<div class="col-3"></div>
		<div class="col-md-3 col-sm-6 item my-4 mx-4">
			<div class="card item-card card-block w-100" routerLink="/overview"> -->
<!-- <h4 class="item-card-title text-right"><i class="material-icons">settings</i></h4> -->
<!-- <img src="../../../../assets/img/Checklist.png" alt="Photo of sunset">
				<h5 class="card-title text-center " style="background-color: blueviolet;">Checklist Management</h5>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 item my-4 mx-4">
			<div class="card item-card card-block w-100" routerLink="/KRA-overview"> -->
<!-- <h4 class="item-card-title text-right"><i class="material-icons">settings</i></h4> -->
<!-- <img src="../../../../assets/img/KRAKPI.jpg" alt="Photo of sunset">
				<h5 class="card-title text-center" style="background-color: blueviolet;">KRA/KPI</h5>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-3"></div>
		<div class="col-md-3 col-sm-6 item my-4 mx-4">
			<div class="card item-card card-block w-100" routerLink="/timesheet"> -->
<!-- <h4 class="item-card-title text-right"><i class="material-icons">settings</i></h4> -->
<!-- <img src="../../../../assets/img/TimeSheet.jpg" alt="Photo of sunset">
				<h5 class="card-title text-center " style="background-color: blueviolet;">Timesheet</h5>
			</div>
		</div> -->
<!-- <div class="col-md-3 col-sm-6 item my-4 mx-4">
			<div class="card item-card card-block w-100" routerLink="/CenterManagement"> -->
<!-- <h4 class="item-card-title text-right"><i class="material-icons">settings</i></h4> -->
<!-- <img src="../../../../assets/img/CenterManagement.jpg" alt="Photo of sunset">
				<h5 class="card-title text-center " style="background-color: blueviolet;">Center Management</h5>
			</div> -->
<!-- </div>
	</div>
</div> -->





<div class="container d-flex flex-column min-vh-100 justify-content-center align-items-center">
	<div class="wrapper-2">
	<div class="row align-items-center justify-content-center">
		<div class="col-md-3 d-flex justify-content-center text-center">
			<div class="card item-card card-block w-100" routerLink="/overview" style="border: none;"> 
				<img src="../../../../assets/img/Checklist.svg" alt="Photo of sunset">
			</div>
		</div>

		<div class="col-md-3 d-flex justify-content-center text-center">
			<div class="card item-card card-block w-100" routerLink="/KRA-overview" style="border: none;">
				<img src="../../../../assets/img/KRA-KPI.svg" alt="Photo of sunset">
			</div>
		</div>
	</div>
</div>
	<div class="row align-items-center justify-content-center">
		<div class="col-md-3 d-flex justify-content-center text-center">
			<div class="card item-card card-block w-100" routerLink="/timesheet" style="border: none;">
				<img src="../../../../assets/img/Timesheet.svg" alt="Photo of sunset">
			</div>
		</div>

		<div class="col-md-3 d-flex justify-content-center text-center">
			<div class="card item-card card-block w-100" routerLink="/CenterManagement" style="border: none;"> <img
					src="../../../../assets/img/Centers.svg" alt="Photo of sunset">
			</div>
		</div>
	</div>
</div>
<!-- 

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 text-center mb-5">
				<h2 class="heading-section">Contact Form #01</h2>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-10 col-md-12">
				<div class="wrapper">
					<div class="row no-gutters">
						<div class="col-md-7 d-flex align-items-stretch">
							<div class="contact-wrap w-100 p-md-5 p-4">
								<h3 class="mb-4">Get in touch</h3>
								<div id="form-message-warning" class="mb-4"></div> 
						  <div id="form-message-success" class="mb-4">
						Your message was sent, thank you!
						  </div>
								<form method="POST" id="contactForm" name="contactForm">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<input type="text" class="form-control" name="name" id="name" placeholder="Name">
											</div>
										</div>
										<div class="col-md-6"> 
											<div class="form-group">
												<input type="email" class="form-control" name="email" id="email" placeholder="Contact No">
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<input type="text" class="form-control" name="subject" id="subject" placeholder="Area looking for franchiese">
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<input type="text" class="form-control" id="message"  placeholder="Current nature of business Job">
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<input type="submit" value="Send Message" class="btn" style="color: white;">
												<div class="submitting"></div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="col-md-5 d-flex">
							<div class="info-wrap w-100 p-lg-2 p-2" style="background-color: #14bbc0;">
						<img src="../../../../assets/img/klogo.jpeg" style=" width: 100%; height: 61%; margin-top: 5rem;">
				  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> -->