.modal-header{
    display: inline-block;
    padding-top: 12px;
}
.modal-header .close{
    margin: -42px -1rem -1rem auto;
}
.modal-header{
    background-color: #14bbc0;
}

.wrapper-1{
    border-bottom: 2px solid;
    border-color: #14bbc0;
}
.wrapper-2{
margin-top: 2rem;
border-radius: 12px;
padding: 12px;
box-shadow: 4px 4px #14bbc0;
border: 2px solid #14bbc0;
}

.wrapper-3 {
    position: relative;
    display: block;
    padding-left: 2.25rem;
}
.wrapper-4{
    padding-right: 10rem;
    
}
.wrapper-5{
   margin-top:2rem;
   border-bottom: 1px solid;
    border-color: #14bbc0;
}
.wrapper-7{
    border-bottom: 2px solid;
    border-color: #14bbc0;
    padding-bottom: 1rem;
}
.body{

}