<div class="container" style="margin-top: 3rem;">
    <div class="row">
        <div class="col-md-3" *ngFor="let dept of DepartmentList">
            <div class="card l-bg-blue-dark w-130" style="cursor: pointer;" (click)="onDeptClick(dept)">
                <div class="align-items-center">
                    <div class="py-4">
                        <p class="deatilInfoEmp text-center" title="Assign Checklist"><b>{{dept.Department}}</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- See Assigned Project to Department -->
<div bsModal #largeModal="bs-modal" class="modal fade" [config]="{ backdrop: 'static' }" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Department Name - {{Department}}</h4>
                <button type="button" class="close" (click)="onCloseClick()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-deptprojectlist *ngIf="isDeptSelected" [statename]="statename" [centerid]="centerid"
                    [deptID]="Department" [projectlist]="projectlist" [Assignedprojectlist]="Assignedprojectlist">
                </app-deptprojectlist>
            </div>
        </div>
    </div>
</div>

<!-- popup to see assigned tasks -->
<!-- <div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">project List</h4>
                <button type="button" class="close" (click)="onCloseClick()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-emp-task *ngIf="isEmpSelected" [centerId]="centerId" [EmployeeDetails]="empDetail"></app-emp-task>
            </div>
        </div>
    </div>
</div> -->