<div class="container mt-1">
    <button class="btn float-right  mr-3 mt-1" style="color: white; background-color: #3177b3;" (click)="ProjectModal.show()"
        type="submit">Create Project</button>
    <app-grid *ngIf="ProjectList" [isSearchBar]="true" [Heading]="heading" [coloums]="coloums"
        [dataFromComponent]="ProjectList" [action]=true></app-grid>
    <!-- <div class="float-right mt-4 wrapper-1">
        <button class="btn" style="color: white; background-color: #F012BE;" (click)="ProjectModal.show()"
            type="submit">Create Project</button>
    </div> -->
</div>

<div bsModal #ProjectModal="bs-modal" class="modal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #F012BE;">
                <div class="row">
                    <div class="col-md-6">
                        Create Project
                    </div>
                    <div class="col-md-6 text-right">
                        Department - {{Depart}}
                    </div>
                </div>
            </div>
            <div class="modal-body my-1">
                <h5 class="modal-title" style="color: #3177b3; margin-bottom: 1rem;"></h5>
                <form #AddProjectForm="ngForm" class="wrapper-20">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="Project">Project </label>
                        <div class="col-md-9">
                            <input type="text" id="Project" name="Project" class="form-control" #Project="ngModel"
                                required placeholder="Enter Name..." ngModel>
                            <div *ngIf="Project.invalid && (Project.dirty || Project.touched)"
                                class="alert alert-danger">
                                <div *ngIf="Project.errors.required">
                                    Project Name cannot be empty.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="ProjectDesc">Description</label>
                        <div class="col-md-9">
                            <input type="text" id="ProjectDesc" name="ProjectDesc" class="form-control"
                                #ProjectDesc="ngModel" required placeholder="Enter Description..." ngModel>
                            <div *ngIf="ProjectDesc.invalid && (ProjectDesc.dirty || ProjectDesc.touched)"
                                class="alert alert-danger">
                                <div *ngIf="ProjectDesc.errors.required">
                                    Description is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Created By</label>
                        <div class="col-md-9">
                            <label class="col-md-9 col-form-label" for="text-input">{{createdBy}}</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row float-right mr-2">
                    <button type="button" class="btn btn-danger" (click)="ProjectModal.hide()"
                        style="margin-right: 1rem; border-radius: 0.25rem;">Close</button>
                    <button type="button" class="btn btn-success"
                        (click)="AddProject(Project.value,ProjectDesc.value); AddProjectForm.resetForm();ProjectModal.hide()">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #genericModal="bs-modal"  class="modal right" tabindex="-1" role="dialog"
    aria-labelledby="genericModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-side modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="col-1"></div>
                <div class="col-10 text-center">
                    <h5 class="modal-title">
                        <i class="fa fa-exclamation-triangle" style="color: red;" aria-hidden="true"></i>
                        Delete Project
                    </h5>
                </div>
                <div class="col-1 ms-3">
                </div>
                <p>Are you sure you want to delete <strong style="font-size: 13px;">{{Projectname}}</strong></p>
                <br>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <button type="button" class="btn btn-success" (click)="genericModal.hide()">Cancel</button>
                        <button type="button" class="btn btn-danger px-4" (click)="DeleteProject()" style="border-radius: 0.25rem">Yes</button>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div bsModal #genericModal="bs-modal" [config]="{ backdrop: 'static' }" class="modal right" tabindex="-1" role="dialog"
    aria-labelledby="genericModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-side modal-top-right" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h6>Are you sure you want to delete this Project?</h6><br>
                <div class="row">
                    <div class="col-6"></div>
                    <div class="col-3">
                        <button type="button" class="btn btn-outline-secondary"
                            (click)="genericModal.hide()">Cancel</button>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-danger" (click)="DeleteProject()">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->