// .btn-outline-secondary {
//     color: black;
//     border-color: #4c4f52;
//     border-radius: 1px;
// }
// .example-sidenav-content {
//     display: flex;
//     height: 400px;
// }
.btn-outline-secondary {
    color: black;
    border-color: #4c4f52;
    border-radius: 1px;
}
.example-sidenav-content {
    display: flex;
    height: 520px;
}
.wrapper-1{
    display: flex;
    margin-top: 1rem;
    float: right;
}